body{
  color:#C57ED3;
}

.parallax {
  /* The image used */
  background: url("https://images.pexels.com/photos/2432185/pexels-photo-2432185.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");

  /* Full height */
  height: 100vh;


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70% 100%;
}

.overlay {
height:500px;
  text-align: center;
  padding: 20px;
  /* opacity: 0.5; */
}

h1 {
  margin: 0px;
}

body {
  margin: 0px;
  font-family: 'Roboto Slab', serif;
}
