.text-justify{
    /* border: 2px solid white; */
    background-color:rgb(255, 255, 255, 0.2);
    /* align-content: center; */
    font-size: 30px;
    font-weight: bold;
    color:black;
    margin-bottom:40px;
    font-family:'Source Sans Pro', sans-serif;
    
}