.me {
  animation: right_to_left 2s ease;
}

@keyframes right_to_left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0;
  }
}

.container {
  display: flex;
  position: relative;
  text-align: center;
 
  /* margin-bottom:20px; */
}

.me {
  color: black;
  font-family: "Caveat", cursive;
  font-family: "Montserrat", sans-serif;
  initial-letter: 21px;
  animation: right_to_left 2s ease;
  align-items: flex-end;
  font-size: 23px;
  display: block;
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  margin-top: 15%;
  color:white;
  z-index: 1;
}
