body,
html {
  height: 100%;
  /* width:100%; */
}
.parallax {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
  height: 700px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.bgContainer{
  display:flex;
  flex-direction:row-reverse; justify-content:center;
}


